<footer class="pt-1 my-md-2 pt-md-2 border-top">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md">
                    <h5>Open Source Project</h5>
                    <p>
                        This is part of the <a class="link-secondary text-decoration-none" href="https://musicbucket.net">MusicBucket project</a>, a platform with a Telegram Bot and an API to
                        manage Spotify music data in Telegram.
                    </p>
                    <p>
                        This project uses the <a href="https://github.com/paurieraf/lastfm-collage-generator">lastfm-collage-generator</a>
                        Python library (available in <a href="https://pypi.org/project/lastfmcollagegenerator/">PyPi</a>) also created by myself.
                    </p>
                    <p>
                        Made by <a class="link-secondary text-decoration-none" href="https://github.com/paurieraf">Pau Riera</a><br>
                    </p>
                </div>
                <div class="col-6 col-md">
                    <h5>Repositories</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1">
                            <a class="link-secondary text-decoration-none" href="https://github.com/MusicBucket/lastfmcollagegenerator-web"><span class="mdi mdi-github"></span> lastfmcollagegenerator-web</a>
                        </li>
                        <li class="mb-1">
                            <a class="link-secondary text-decoration-none" href="https://github.com/paurieraf/lastfm-collage-generator"><span class="mdi mdi-github"></span> lastfm-collage-generator</a>
                        </li>
                        <li class="mb-1">
                            <a class="link-secondary text-decoration-none" href="https://github.com/MusicBucket/musicbucket-bot"><span class="mdi mdi-github"></span> MusicBucket Bot</a>
                        </li>
                        <li class="mb-1">
                            <a class="link-secondary text-decoration-none" href="https://github.com/MusicBucket/musicbucket"><span class="mdi mdi-github"></span> MusicBucket API</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>