{% extends "shared/layout.html" %}

{% block content %}
    <main>
        <div class="container">
            <div class="px-4 py-5 my-5 text-center">
                <img class="d-block mx-auto mb-4" src="{{ url_for('static', path='/img/logo.png') }}"
                     alt="Collage Generator" width="300" height="300">
                <h1 class="display-5 fw-bold">Collage generator for Last.fm</h1>
                <h4>
                    by <a class="link-secondary text-decoration-none" href="https://musicbucket.net">MusicBucket</a>
                </h4>
                <div class="col-lg-12 mx-auto">
                    <p class="lead mb-4">Generate awesome collages of your Last.fm profile tops.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <form action="{{ url_for('collage') }}" method="post">
                            <div class="container">
                                <div class="row">
                                    <div class="col-3">
                                        <input type="text" name="username" class="form-control" placeholder="Username"
                                               aria-label="Username">
                                    </div>
                                    <div class="col">
                                        <select name="entity" class="form-select" aria-label="Entity">
                                            {% for entity in entities %}
                                                <option value="{{ entity }}">{{ entity }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select name="rows" class="form-select" aria-label="Rows">
                                            {% for row in rows %}
                                                <option value="{{ row }}">{{ row }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select name="cols" class="form-select" aria-label="Cols">
                                            {% for col in cols %}
                                                <option value="{{ col }}">{{ col }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select name="period" class="form-select" aria-label="Period">
                                            {% for period in periods %}
                                                <option value="{{ period }}">{{ period }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary" type="submit" style="background-color: #b02631">
                                            Generate
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}